@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: #243e63;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

h1 {
    font-size: 48px;
    color: #1a202c;
    line-height: 1.25;
}

p {
   font-size: 18px;
   line-height: 1.5; 
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


.container {
    padding: 96px 0;
}

.purple {
    color: #6415ff;
}

header {
    position: relative;
}

button {
    cursor: pointer;
    border: none;
}

img {
    width: 100%;
}

main {
    margin-bottom: 96px;
}

section {
    padding: 0 32px;
}

/*

NAVIGATION

*/

nav {
    padding-top: 32px;
    display: flex;
}

.nav__container {
    display: flex;
    justify-content: space-between;
}

.nav__logo--container {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 8px;
}

.nav__logo--img {
    height: 40px;
    width: 40px;
}

.nav__logo--title {
    font-weight: 900;
    font-size: 24px;
    margin-left: 12px;
    padding-bottom: 2px;
    letter-spacing: 0.6px;
}

.nav__links {
    display: flex;
    align-items: center;
    padding-bottom: 2px;
}

.nav__link {
    font-size: 14px;
    font-weight: 600;
    padding-top: 4px;
    letter-spacing: 0.35px;
    margin: 0 24px;
    text-decoration: none;
}

.nav__link:hover {
    text-decoration: underline;
}

.login {
    margin-left: 48px;
}

.nav__link--primary {
    margin: 0;
    padding: 10px 32px;
    margin-top: 2px;
    border-radius: 9999px;
    color: #fff;
    background-color: #6415ff;
    line-height: 1.5;
    border: none;
    width: auto;
    transition: all 300ms ease;
}

.nav__link--primary:hover {
    background-color: rgba(80, 17, 204);
    text-decoration: none;
}

/*

HEADER

*/

header .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__description {
    width: 40%;
}

.header__description--para {
    margin: 32px 0;
}

.header__img {
    width: 100%;
    max-width: 768px;
}

.header__email {
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

.header__email--input {
    width: 100%;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding:20px 192px 20px 32px;
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    transition: border color 300ms;
}

.header__email--input:hover {
    border-color: rgba(160, 174, 192);
}

.header__email--btn {
    z-index: 2;
    margin: 8px;
    height: calc(100% - 16px);
    border-radius: 500px;
    width: 160px;
    border: none;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    transition: all 300ms ease;
}

.header__email--btn:hover {
    background-color: rgba(80, 17, 204);
}

.header__customers--title {
    margin-top: 80px;
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700;
}

.header__img--wrapper {
    width: calc(100%-40px);
}

.header__img {
    width: 100%;
    max-width: 768px;
}

/*

FEATURES

*/

#features {
    position: relative;
}

#features .row__narrow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row__narrow {
    width: 100%;
    max-width: 1024;
    margin: 0 auto;
}

.section__tag {
    font-size: 16px;
    color: #6415ff;
    letter-spacing: 1.6;
    font-weight: 700;
    text-transform: uppercase;
}

#features .section__title {
    text-align: center;
}

.section__title {
    font-size: 48px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    line-height: 1.5;
    margin: 16px 0;
    letter-spacing: 0.025em;
}

#features .section__para {
    text-align: center;
    max-width: 576px;
}

.section__para {
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
}

.features {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.feature {
    display: flex;
    width: calc(100% / 3);
}

.feature__row {
    display: flex;
    align-items: flex-start;
    padding: 32px 24px;
}

.feature__img--wrapper {
    display: flex;
    padding: 20px;
    border: 1px solid #e5e7eb;
    border-radius: 500px;
}

.feature__img {
    width: 24px;
    height: 24px;
}

.feature__text {
    margin-top: 8px;
    margin-left: 16px;
}

.feature__para {
    margin-top: 16px;
    font-size: 16px;
    max-width: calc(634px / 3);
    color: rgb(124, 139, 161);
    line-height: 2;
    font-weight: 500;
}



