@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: #243e63;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

nav {
    padding-top: 32px;
    display: flex;
}

img {
    width: 100%;
}

section {
    padding: 0 32px;
}

a {
    display: inline;
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

/*
NAVIGATION
*/

.nav__row {
    display: flex;
    justify-content: space-between;
}

.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}

.nav__logo--img {
    height: 40px;
    width: 40px;
}

.nav__logo--title {
    font-weight: 900;
    font-size: 24px;
    margin-left: 12px;
    padding-bottom: 2px;
    letter-spacing: 0.6px;
}

.nav__links {
    align-items: center;
    padding-bottom: 2px;
}

.nav__link {
    font-size: 14px;
    font-weight: 600;
    padding-top: 4px;
    letter-spacing: 0.35px;
    border-bottom: 2px solid transparent;
    position: relative;
    transition: all 300ms;
}

.nav__link {
    margin: 0 24px;
}

.nav__link:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    height: 2px;
    width: 100%;
    background: #6415ff;
    transition: all 300ms ease;
    opacity: 0;
}

.nav__link:hover:after {
    opacity: 1;
}

.nav__link--primary {
    margin: 0;
    padding: 10px 32px;
    margin-top: 2px;
    border-radius: 9999px;
    color: #ffff;
    background-color: #6415ff;
    line-height: 1.5;
    border: none;
    width: auto;
    transition: all 300ms ease;
}

.nav__link--primary:after {
    content: "";
    width: 0;
    height: 0;
    opacity: 0;
}

.nav__link--primary:hover:after {
    opacity: 1;
}

.login {
    margin-left: 48px;
}

.btn__menu {
    background-color: transparent;
    border: none;
    display: none;
    transition: all 300ms ease;
}


/* 
PHONES/TABLETS
*/

@media (max-width: 1024px) {
    .nav__links {
        display: none;
    }
}