@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: #243e63;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/*

NAVIGATION

*/

nav {
    padding-top: 32px;
    display: flex;
}

.nav__container {
    display: flex;
    justify-content: space-between;
}

.nav__logo--container {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 8px;
}

.nav__logo--img {
    height: 40px;
    width: 40px;
}

.nav__logo--title {
    font-weight: 900;
    font-size: 24px;
    margin-left: 12px;
    padding-bottom: 2px;
    letter-spacing: 0.6px;
}

.nav__links {
    display: flex;
    align-items: center;
    padding-bottom: 2px;
}

.nav__link {
    font-size: 14px;
    font-weight: 600;
    padding-top: 4px;
    letter-spacing: 0.35px;
    margin: 0 24px;
    text-decoration: none;
}

.login {
    margin-left: 48px;
}

.nav__link--primary {
    margin: 0;
    padding: 10px 32px;
    margin-top: 2px;
    border-radius: 9999px;
    color: #fff;
    background-color: #6415ff;
    line-height: 1.5;
    border: none;
    width: auto;
    transition: all 300ms ease;
}



